body {
  color: #292525;
}

.App {
}

.App-tabs-wrapper {
  background-color: #f64060;
  padding-top: 60px;
}

.react-tabs__tab-list {
  margin-bottom: 0 !important;
}

.tabs {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  max-width: 100%;
  width: 960px;

  list-style: none;
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
  padding: 0;
  overflow-y: hidden;
}
@media (min-width: 480px) {
  .tabs {
    justify-content: flex-start;
  }
}

.tabs .react-tabs__tab {
  display: inline-block;
  text-align: center;
  font-size: 0.875em;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.05);
  border-right: 1px solid #dfdfdf;
  position: relative;
  border-left: 1px solid #dfdfdf;
  transform: translate3d(0, 2px, 0);
  color: #bdc3c7;
}
.tabs .react-tabs__tab--selected {
  pointer-events: none;
  cursor: default;
  -webkit-transform: translate3d(0, 1px, 0);
  transform: translate3d(0, 1px, 0);
  box-shadow: none;
  border-right: none;
}
.tabs .react-tabs__tab > button {
  position: relative;
  padding: 24px 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  width: 100%;
  color: #bdc3c7;
  cursor: pointer;
  background-color: #ecf0f1;
  transition-property: background-color, color;
  transition-duration: 200ms;
}
.tabs .react-tabs__tab:hover > button {
  color: #f64060 !important;
  background-color: #ecf0f1;
}

.tabs .react-tabs__tab--selected > button,
.tabs .react-tabs__tab--selected:focus > button {
  background-color: white !important;
  color: #c0392b;
  padding-top: 26px;
}

.tab-container {
  margin: 0 auto;
  max-width: 100%;
  width: 960px;
  padding: 15px;
  background: #fff;
}

.Footer {
  width: 940px;
  max-width: 100%;
  padding: 0 20px;
  margin: 135px auto 35px auto;
  line-height: 28px;
  color: #666;
}
